<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="heading">習慣化で理想のライフスタイルを</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto">
    <p>習慣化とは、同じ状況のもとで繰り返し行われた行動がやがて定着し、（意志とは関係なく）自動化されて行われることです。<br>
       習慣化には、人生そのものを大きく変える力があります。習慣化のテクニックがあれば、自分が思うように生きることが可能になるでしょう。<br>
      しかし、実際には習慣化が苦手で、挫折してかえってつらい思いをしている人が後を絶ちません。本当にもったいないことです。<br>
      そこでこのアプリケーションでは、思い通りの人生を実現するために欠かせない「習慣化」を、手助けするために開発されました。</p>
    </div>
  </div>
      <p>使い方は簡単です</p>
      <div class = "box">
        <div class="step">Step 1</div>
      <div>タスク内容の入力</div>
        
      </div>
      <div class = "box">
              <div class="step">Step 2</div>
      <div>タスクの種類を選択</div>

      </div>
      <div class = "box">
              <div class="step">Step 3</div>
      <div>クリエイトボタンをクリック</div>

      </div>
</div>

